<meta charset="UTF-8">

<style>
	style {
		display: none !important;
	}

	._customer-db {
		display: flex !important;
		align-items: center;
		justify-content: center;
		background: #fff;
		padding: 20px 0;
		margin-bottom: 30px;
		font: normal 16px/1.4 Arial, sans-serif !important;
		font-weight: 400;
	}

	._customer-db__cnt {
		display: inline-block !important;
		vertical-align: middle;
		width: 190px;
		box-sizing: border-box;
		position: relative;
		margin: 0 !important;
		color: #000;
	}
	._customer-db__link {
		display: inline-flex !important;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		text-decoration: none !important;
		color: #000000;
		margin-right: 20px;
	}
	._customer-db__btn {
		display: inline-flex !important;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		background-color: #B79849;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		box-sizing: border-box;
		text-decoration: none !important;
	}

	._customer-db__btn:hover {
		opacity: 0.85;
	}

	._customer-db__btn-img {
		width: auto;
	}

	._customer-db__btn-cnt {
		font-size: 16px !important;
		color: #000000;
		font-weight: bold;
	}
</style>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a class="_customer-db__link" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/279/Такелаж.xlsx?1552916497">
		<span class="_customer-db__btn-cnt">Такелаж.xlsx</span>
	</a>
	<a class="_customer-db__btn" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/279/Такелаж.xlsx?1552916497">
		<img class="_customer-db__btn-img" src="img/block_download/download.png" />
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a class="_customer-db__link" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/280/Складское_оборудование.xlsx?1552916497">
		<span class="_customer-db__btn-cnt">Складское_оборудование.xlsx</span>
	</a>
	<a class="_customer-db__btn" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/280/Складское_оборудование.xlsx?1552916497">
		<img class="_customer-db__btn-img" src="img/block_download/download.png" />
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a class="_customer-db__link" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/281/Пожарное_оборудование.xlsx?1552916497">
		<span class="_customer-db__btn-cnt">Пожарное_оборудование.xlsx</span>
	</a>
	<a class="_customer-db__btn" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/281/Пожарное_оборудование.xlsx?1552916497">
		<img class="_customer-db__btn-img" src="img/block_download/download.png" />
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a class="_customer-db__link" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/282/Инструмент.xlsx?1552916497">
		<span class="_customer-db__btn-cnt">Инструмент.xlsx</span>
	</a>
	<a class="_customer-db__btn" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/282/Инструмент.xlsx?1552916497">
		<img class="_customer-db__btn-img" src="img/block_download/download.png" />
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a class="_customer-db__link" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/283/Грузоподъемное_оборудование.xlsx?1552916497">
		<span class="_customer-db__btn-cnt">Грузоподъемное_оборудование.xlsx</span>
	</a>
	<a class="_customer-db__btn" href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/283/Грузоподъемное_оборудование.xlsx?1552916497">
		<img class="_customer-db__btn-img" src="img/block_download/download.png" />
	</a>
</div>